<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <clear />
				
				
				
				  
				 <rule name="Rewrite to register">
				 
                 <match url="([0-9]+)/([_0-9a-z-]+)/devices/([_0-9a-z-]+)/registrations/([_0-9a-z-.]+)/([_0-9a-z-]+)" />
                  <conditions logicalGrouping="MatchAll">
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					</conditions>
				  
				  <action type="Rewrite" url="register.php?guest={R:1}&amp;version={R:2}&amp;deviceLibraryIdentifier={R:3}&amp;passTypeIdentifier={R:4}&amp;serialNumber={R:5}&amp;pastype=ios" appendQueryString="true" />
                  </rule>

				<rule name="Rewrite to register Attido-Passwallet">

					<match url="([0-9]+)/([_0-9a-z-]+)/devices/([_0-9a-z-]+)/registrations_attido/([_0-9a-z-.]+)/([_0-9a-z-]+)" />
					<conditions logicalGrouping="MatchAll">
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					</conditions>

					<action type="Rewrite" url="register.php?guest={R:1}&amp;version={R:2}&amp;deviceLibraryIdentifier={R:3}&amp;passTypeIdentifier={R:4}&amp;serialNumber={R:5}&amp;passtype=attido" appendQueryString="true" />
				</rule>
				

				<rule name="Rewrite to get serialnumber">

					<match url="([0-9]+)/([_0-9a-z-]+)/devices/([_0-9a-z-]+)/registrations/([_0-9a-z-.]+)" />
					<conditions logicalGrouping="MatchAll">
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					</conditions>
					
					<action type="Rewrite" url="getserialnumbers.php?guest={R:1}&amp;version={R:2}&amp;version={R:2}&amp;deviceLibraryIdentifier={R:3}&amp;passTypeIdentifier={R:4}" appendQueryString="true" />
				</rule>

			

              <rule name="Rewrite to get Latest Version of pass">

				<match url="([0-9]+)/([_0-9a-z-]+)/passes/([_0-9a-z-.]+)/([_0-9a-z-]+)" />
				  <conditions logicalGrouping="MatchAll">
					  <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
					  <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
				  </conditions>
				  
				<action type="Rewrite" url="getlatestversion.php?guest={R:1}&amp;version={R:2}&amp;passTypeIdentifier={R:3}&amp;serialNumber={R:4}" appendQueryString="true" />
			  </rule>

				 
           <rule name="Rewrite to error log">

				<match url="([0-9]+)/([_0-9a-z-]+)/log" />
			   <conditions logicalGrouping="MatchAll">
				   <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
				   <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
			   </conditions>
				<action type="Rewrite" url="errorlog.php?guest={R:1}&amp;version={R:2}" appendQueryString="true" />
			</rule>


			</rules>
        </rewrite>
    </system.webServer>
</configuration>